<h2>{{Titulo}}</h2>
<strong>Empleado Estrella: </strong>

<br>
<br>
<div *ngIf="trabajador_externo == true">
    <button (click)="cambiarExterno(false)">Mostrar Empleado</button>
    <ul>
        <li>{{trabajadores[1].nombre}}</li>
        <li>{{trabajadores[1].cargo}}</li>
        <li>{{trabajadores[1].edad}}</li>
        <li *ngIf="trabajadores[1].contratado == true">Esta contratado</li>
        <li *ngIf="trabajadores[1].contratado == false">No Esta Contratado</li>
    </ul>
</div>



<hr>
<div *ngIf="trabajador_externo == false">
    <button (click)="cambiarExterno(true)">Mostrar Trabajador</button>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.cargo}}</li>
        <li>{{empleado.edad}}</li>
        <li *ngIf="empleado.contratado == true">Esta contratado</li>
        <li *ngIf="empleado.contratado == false">No Esta Contratado</li>
    </ul>
</div>


<h3>Listado de empleados</h3>
<ul>
    <li *ngFor="let empleado of trabajadores; let i = index">
        <strong>Empleado {{i+1}};</strong>
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.cargo}}</li>
            <li>{{empleado.edad}}</li>
            <li *ngIf="empleado.contratado == true">Esta contratado</li>
            <li *ngIf="empleado.contratado == false">No Esta Contratado</li>
        </ul>
    </li>
</ul>

<hr>
<h3>Colores Switch</h3>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{
        'background': color, 
        'color': 'white',
        'padding': '20px'
        }">
        Es de color Rojo
    </li>

    <li *ngSwitchCase="'green'" [ngStyle]="{
        'background': color, 
        'color': 'white',
        'padding': '20px'
        }">
        Es de color verde
    </li>

    <li *ngSwitchCase="'blue'" [ngStyle]="{
        'background': color, 
        'color': 'white',
        'padding': '20px'
        }">
        Es de color Azul
    </li>
</ul>

<hr>

<h3>Selector de Colores</h3>
<button (click)="logColorSeleccionado()">MOSTRAR LOG</button>
<input type="text" [(ngModel)]="color_seleccionado">
<pre [class.bordeAzul] ="color_seleccionado == 'blue'">
    <strong>Color Elegido:</strong>
    {{color_seleccionado}}
</pre>

<pre [ngClass]="{
    fondoAzul: color_seleccionado == 'blue',
    fondoVerde: color_seleccionado == 'green',
    letraGrande: 1 == 1
}">
    <strong>Color Elegido:</strong>
    {{color_seleccionado}}
</pre>

<div [ngClass]="['letraGrande']"
     [style.border]="color_seleccionado == 'red' ? '5px solid black' : '10px solid green'" 
     [ngStyle]="{
        'background': color_seleccionado, 
        'width': '200px',
        'height': '200px',
        'float': 'right',
        'margin-right': '69%'
    }">Diego

</div>
<div style="clear:both"></div>

