<h4>propiedades input en angular</h4>
    <componente-hijo 
        [texto1] ="dato_externo"
        [texto2] ="identy.web"

        (desde_el_hijo)="recibirDatos($event)"

    ></componente-hijo>

<hr>
<div *ngIf="datos_del_hijo">
    <h1>{{datos_del_hijo.nombre}}</h1>
    <h3>{{datos_del_hijo.web}}</h3>
    <h6>{{datos_del_hijo.twitter}}</h6>
</div>
<hr>






<h4>{{titulo}}</h4>


<div *ngIf="administrador; then admin else noAdmin"></div>

<ng-template #admin>
    <button (click)="cambiar(false)">Cambiar</button>
    <strong style="background-color: yellow;">eres el administrador de la webapp</strong>
</ng-template>

<ng-template #noAdmin>
    <button (click)="cambiar(true)">Cambiar</button>
    <strong style="background-color: red; color: white;">NO eres el administrador de la webapp</strong>
</ng-template>