<h3>
  {{title}}
</h3>
<hr>
<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['activado']">home | </a>
  <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleados | </a>
  <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Frutas | </a>
  <a [routerLink]="['/coches']" [routerLinkActive]="['activado']">Coches | </a>
  <a [routerLink]="['/plantillas']" [routerLinkActive]="['activado']">Plantillas | </a>
  <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contactenos</a>
</nav>
<hr>
<!-- <fruta></fruta> -->
<!-- <empleado-tag></empleado-tag> -->
<router-outlet></router-outlet>


