form{
    text-align: center;
}

h1{
    text-align: center;
}

.textoCentrado{
    font-family: montserrat;
    text-align: center;
    margin-top: 60px;
    
}

button{
    padding: 10px;
    background-color: #5f9ea0;
    cursor: pointer;
    float: right;
    margin-right: 15px;
}

button:hover{
    background-color: #b5cbcc;

}

.listado{
    padding: 50px;
}