<h3>{{titulo}}</h3>
<hr>
<div *ngIf="!ciudades">
    Cargando Listado de ciudades...
</div> 
<div *ngIf="ciudades">
    <div class="row">
        <div class="col-lg-3" *ngFor="let ciudad of ciudades">
            <div class="thumbnail">
                <div class="imagen_relleno"></div>
                <div class="caption">
                    <h3>{{ ciudad.name }}</h3>
                    <div class="botones" *ngIf="confirmado != ciudad.cityid">
                        <a [routerLink]="['/ciudad', ciudad.cityid]" class="btn btn-md" style="background-color: #5f9ea0; color: white;">ver</a> 
                        <a [routerLink]="['/editar-ciudad', ciudad.cityid]" class="btn btn-md" style="background-color: #b5cbcc; color: white;">Editar</a> 
                        <a (click)="borrarConfirm(ciudad.cityid)" class="btn btn-md" style="background-color: #5f9ea0; color: white;">Eliminar</a> 
                    </div>
                    <div class="seguro" *ngIf="confirmado == ciudad.cityid">
                        <p>Esta seguro de querer borrar la ciudad</p>
                        <a (click)="onDeleteCiudad(ciudad.cityid)" class="btn btn-md" style="background-color: #5f9ea0; color: white;">Aceptar</a>
                        <a (click)="cancelarConfirm()" class="btn btn-md" style="background-color: #b5cbcc; color: white;">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
